#left{
    background-color: #D3EBCD;
}
label{
    color: #2F8F9D;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input{
    border: red solid 3px;
    border-radius: 7px;
}

input:hover{
    border-color: black;
}

#insertHere{
    background-color: #FFD9C0;
}

card-text{
    color: #2F8F9D;
}